.book-cover {
  width: 150px;
  height: 220px;
}

.book-title {
  color: #a8b5d7;
}

.book-info {
  color: #a8b5d7;
}

.book-cover-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
